In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('./data/full_data_set.csv')
df.head()

,Player,Team,Opponent,Location,Pts,Att,Cmp,Yds,TD,Int,...,Rush 2Pt,Rec,Rec Yds,Rec TD,Rec 2Pt,FL,Misc TD,Week,Year,Position
0,Arian Foster,HOU,@IND,away,42.0,0,0,0,0,0,...,0,1,7,0,0,0,0,1,2010,RB
1,Matt Forte,CHI,@DET,away,38.0,0,0,0,0,0,...,0,7,151,2,0,1,0,1,2010,RB
2,Peyton Manning,IND,HOU,home,35.0,57,40,433,3,0,...,0,0,0,0,0,0,0,1,2010,QB
3,Chad Johnson,CIN,NE,home,33.0,0,0,0,0,0,...,0,12,159,1,0,0,0,1,2010,WR
4,Austin Collie,IND,HOU,home,32.0,0,0,0,0,0,...,0,11,163,1,0,1,0,1,2010,WR

In [23]:
df.shape

(12800, 24)

We want a table that captures team strength based on a rolling average

* Team
* Offensive Pass Rank
* Offensive Rec Rank
* Offensive Rush Rank
* Defensive Pass Points vs. Average
* Defensive Rec Points vs. Average
* Defensive Rush Points vs. Average
* Defensive Pass Rank
* Defensive Rec Rank
* Defensive Rush Rank

In [24]:
teams = df.loc[:, 'Team'].unique()
teams

array(['HOU', 'CHI', 'IND', 'CIN', 'TEN', 'DAL', 'NYG', 'NE', 'OAK', 'JAX',
       'ATL', 'PHI', 'SD', 'SEA', 'PIT', 'STL', 'TB', 'ARI', 'DET', 'GB',
       'CAR', 'BAL', 'NO', 'MIN', 'DEN', 'KC', 'MIA', 'CLE', 'SF', 'WAS',
       'BUF', 'NYJ', 'LA', 'LAC'], dtype=object)

In [ ]:
class TeamDataMunger:
    
    def __init__(self, df):
        self.df = df
        self.teams = df['Team'].unique()
        self.pos = df['Pos'].unique()

    def get_team_strength_stats(self, week, year):

        # need to consider bye weeks, how to deal with them

        lower_bound = week-3 if week-3 > 1 else 1

        df = self.df[(self.df.loc[:, 'Week'] <= week) & \
                     (self.df.loc[:, 'Year'] == year) & \
                     (self.df.loc[:, 'Week'] <= lower_bound)]

        


    def get_defensive_pass_points_vs_average(self):
        pass

In [ ]:
munger = TeamDataMunger(df)

In [ ]:
munger.get_team_strength_stats(16, 2017)